<div>
  <p class="text-muted" style="font-size: 24px;">
    <b>Current badges</b>

  </p>
</div>

<% @current_user_badges = UserBadge.current_user_badges(current_user) %>

<div class="col-md-auto">
  <% @current_user_badges.each do |b| %>
    <%= raw b.badge.picture %>
  <% end %>
</div>