<div class="navbar navbar-light bg-primary row">

  <% if admin? %>
    <%= link_to (image_tag "adjustments.png", alt: "Alt text", width: 50, height: 50), admin_tests_path %>
  <% end %>

  <p class="col-md-auto text-white" style="font-size: 32px;">
    Admin Panel
  </p>

  <span class="nav-admin title col-md-auto">
    <%= button_to "TestGuru", root_path, class: "btn btn-lg btn-primary", method: :get %>
  </span>

  <div class="nav-admin user col col-md-auto  ">
    Welcome, <b class="nav-admin user-email col-6" ><%= current_user.email %></b> Guru |
    <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: "btn btn-sm btn-primary"  %>
  </div>

</div>
