<% if ressource.errors.present? %>
  <div>
    <h2><%= t('.header', count: ressource.errors.count) %>:</h2>
    <ul>
      <% ressource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>