<!--<% flash.each do |key, message| %>-->
  <!--<p class="<%= key %>"><%= message %></p>-->
<!--<% end %>-->

<% if flash[:alert] %>
  <%= content_tag :p, flash[:alert], class: 'flash alert' %>
<% end %>