<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <div class="panel">
      <% flash.each do |key, message| %>
        <div class="alert alert-dismissable fade show <%= alert_class(key) %>">
          <strong><%= raw message %></strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>
    </div>
  </div>
</div>
